
*{
  margin: 0;
  padding: 0;
}
.table {
  
  border-collapse: collapse;/*juntamos los border por td y la tabla en si en uno solo*/
  width: 93%;
  border: 3px solid WHITE;
  border-radius: 5px;
  padding: 40px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.centrar{
  text-align: center;
  align-content: center;
}
.th{
height: 30px;
text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
 /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
padding: 1px;
background-color:#215c75;
color: white;
border: 3px solid WHITE;
border-radius: 8px;
/*border-bottom: 1px solid #ddd;para borde solo horizontal*/
}
.td{
  height: 30px;
  text-align: center;/*Alineamos el texto al centro ---th por defecto esta alineado al centro*/
   /* vertical-align: bottom; Alineamos el texto verticalmente hacia abajo*/
  padding: 1px;
  border: 3px solid WHITE;
  /*border-bottom: 1px solid #ddd;para borde solo horizontal*/
  }


.th:hover {background-color: black ;color:  lightblue;}/*selector de <tr> para resaltar filas,encabezados de la tabla en el mouse:*/
.tr:nth-child(even) {background-color: white}

input{
    width: 190px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightblue;
    border-radius: 4px;
    box-sizing: border-box;
    background-position: 2px 10px; 
    background-repeat: no-repeat;
}

label {
 
  text-align: center;
  display: block;
  margin: .5em 0;
  color: black;
  font-weight: bold;
  
  font-family: 'Times New Roman', Times, serif;
  width: 90px;
}



.imprimir{
 float: right;
 margin-right:30px;
}
.importe{
  margin-left:20px;
  margin-right:20px;
 }
/* 
.pagination{
  display: inline-block;
}
.pagination li{
  display: inline;
}
.pagination li a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    background: fuchsia;
    border: 1px solid #ddd; /* Gray *
    }
    /


.pagination li a:hover{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  background: violet;
}
.pagination li a.active{
  background-color: #4CAF50;
    color: white;
} */
.margen{
  
  margin-right: 200px;
}
h3{
  background-color:black;
  color:  lightblue;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 28px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}
select {
  width: 150%;
  padding: 16px 20px;
  border: 1px solid lightsteelblue;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin:auto 0;

}
.botonazul{
  margin-top: 30px;
}
.botonazul2{
  margin-top: 10px;
}
h4{
  font-size: 32px;
  color: #215c75;
}
.material-icons{
  font-size: 40px;
}
.negro{
  color: black;
}
.datos{
  margin-bottom: 15px;
  margin-top: 10px;
}
.Alumno{
  color: #215c75;
  
}
.center{
  text-align: center;
}
.checkbox{
  
}
.SplitPane {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.SplitPane-left {
  float: left;
  width: 30%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 70%;
  height: 100%;
}
.SplitPane-Der {
  float: left;
  width: 30%;
  text-align:center;
  height: 100%;
}

.SplitPane-Izq {
  float: left;
  width: 70%;
  height: 100%;
}
.grupo {
  border-radius: 0px 0px 6px 6px;
  background-color: #f2f2f2;
  padding: 29px;
  width : 50%;
  margin: 0 auto;
  width: 420px;
  border-radius: 15px 60px;
}
.vista{
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  border-radius: 7px;
}